
body{
  background-color: #82a7af    ;
  font-family: 'Nerko One', cursive;
  color: #231662 ;
  margin-left: 3em;
  margin-right: 3em;  
}

h1{
  font-family: 'Oswald', sans-serif;
  color: #e2d818  ;
  
}

#screen, #account, #amount{
  width: 90%;
  height:90%;
  background-color: #242B6D  ;
  font-family: 'Press Start 2P', cursive;
  color:#68FF00 ;
  
  font-size: 1.2em;
  border-radius: .25em;
  opacity: .8;
  animation: twinkle .5s infinite;
  line-height: 2em;
  

  

}

p{
  font-size: 1.8em;
  
}

#instructions{
  margin-left: 4.5em;
  margin-right: 4.5em; 

}


button, #sendInfo{
  background-color: #242B6D  ;
  color: #68FF00  ;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2em;
}

label{
  animation: flash .75s infinite;
  font-size: 1.2em;
}

@keyframes flash{
  0%{ color:#242B6D;}
  50% { color: 68FF00;}
}

@keyframes twinkle{
  0%{ opacity: .85;}
  25%{opacity: .8;}
  50%{opacity: .85;}
  75%{ opacity: .9;}
}

#foreground{
  background-color: #678991;
  width: 90%
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 1em;
}

.fa:hover {
    opacity: 0.7;
    
}

.fa-facebook {
  background-color: #242B6D  ;
  color:#eff9ff ;
}
.fa-twitter {
  background-color: #242B6D  ;
  color:#eff9ff ;
}

.fa-linkedin {
  background-color: #242B6D  ;
  color:#eff9ff ;
}

.fa-youtube {
  background-color: #242B6D  ;
  color:#eff9ff ;
}
.fa-instagram {
  background: #242B6D; 
  color: #eff9ff;
}
